<template>
    <div class="categories">
        <div class="categories__header">
            <div class="text-h4 mb-4">
                Список категорий
            </div>
            <v-dialog
                    v-model="newCategoryDialog"
                    width="500"
                    :persistent="creatingCategory"
            >
                <template v-slot:activator="{ on }">
                    <v-btn color="warning" rounded v-on="on">
                        Создать категорию
                    </v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        Создание новой категории
                    </v-card-title>
                    <v-card-text>
                        <v-text-field
                                v-model="newCategoryName"
                                outlined
                                hide-details
                                label="Название"
                        />
                    </v-card-text>
                    <v-card-actions>
                        <v-btn
                                color="warning"
                                block
                                @click="createCategory"
                                :disabled="creatingCategory || !newCategoryName"
                        >
                            Создать
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
        <v-card
                v-for="category of categories"
                :key="category.id"
                class="category-card"
        >
            <div class="category-card__content">
                <div class="category-card__main">
                    <b>{{category.name}}</b> (id {{category.id}})
                </div>
                <div class="category-card__actions">
                    <v-menu offset-y :close-on-content-click="false">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" class="u-btn" v-on="on">
                                Сменить название
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-text>
                                Укажите новое название категории
                                <v-text-field
                                        class="mt-3"
                                        v-model="category.newName"
                                        outlined
                                        hide-details
                                        label="Название"
                                />
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer/>
                                <v-btn color="primary" @click="changeName(category)" text>
                                    Сохранить
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-menu>
                </div>
            </div>
        </v-card>
    </div>
</template>

<script>
import Vue from 'vue';
export default Vue.extend({
    name: "Categories",
    data() {
        return {
            newCategoryDialog: false,
            creatingCategory: false,
            newCategoryName: '',
            categories: [],
        }
    },
    watch: {
        newCategoryDialog() {
            this.newCategoryName = ''
        }
    },
    async mounted() {
        if (!['admin', 'manager'].includes(this.$store.state.user.permission)) {
            await this.$router.push('/')
        }
        await this.getCategoriesList()
    },
    methods: {
        async createCategory() {
            this.creatingCategory = true
            const data = await this.$store.dispatch('createCategory', {name: this.newCategoryName})
            if (!data.error) await this.getCategoriesList()
            this.newCategoryDialog = false
            this.creatingCategory = false
        },
        async getCategoriesList() {
            const segments = await this.$store.dispatch('getCategories')
            if (segments) this.categories = segments.segments
        },
        async changeName(category) {
            const data = await this.$store.dispatch('changeCategoryName', {id: category.id, name: category.newName})
            if (!data.error) {
                category.name = category.newName
                category.newName = null
            }
        }
    }
})
</script>

<style scoped lang="scss">
    .categories{
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .category-card{
        margin: 16px 0;
        &__content{
            padding: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__actions{
            display: flex;
            align-items: center;
        }
    }
</style>