<template>
  <div class="home">
    <div class="home__header">
      <div class="text-h4 mb-4">
        Список вопросов
      </div>
      <v-dialog
        v-model="askDialog"
        width="500"
        :persistent="asking"
      >
        <template v-slot:activator="{ on }">
          <v-btn color="warning" rounded v-on="on">
            Задать вопрос
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            Создание вопроса
          </v-card-title>
          <v-card-text>
            <v-select
              v-model="askData.segmentId"
              outlined
              label="Категория"
              :items="categories"
              item-value="id"
              item-text="name"
            >
            </v-select>
            <v-text-field
              v-model="askData.title"
              outlined
              label="Заголовок"
            />
            <v-textarea
              v-model="askData.text"
              hide-details
              outlined
              label="Текст вопроса"
            />
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="warning"
              block
              @click="ask"
              :disabled="asking || !askData.text || !askData.title || !askData.segmentId"
            >
              Спросить
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <div class="filters">
      <v-text-field
          v-model="search"
          class="filters__filter"
          label="Поиск"
          clearable
      >
      </v-text-field>
      <v-select
          v-model="categoryId"
          class="ml-4 filters__filter"
          label="Категория"
          :items="categories"
          item-value="id"
          item-text="name"
          clearable
      >
      </v-select>
      <v-btn color="success" class="ml-4 filters__button" @click="applyFilters">
        Применить
      </v-btn>
    </div>
    <v-card
        v-for="question of questions"
        :key="question.id"
        class="question-card"
    >
      <div class="question-card__content">
        <div class="text-subtitle-1 question-card__mark">
          {{question.mark ? '+' : ''}}{{question.mark}}
        </div>
        <v-divider vertical/>
        <div class="question-card__texts">
          <a class="text-subtitle-1 question-card__title" :href="`/question/${question.id}`">
            {{question.title}}
          </a>
          <div class="question-card__text">
            {{question.text}}
          </div>
        </div>
        <v-spacer/>
        <div class="question-card__info">
          <v-chip color="primary" small>
            {{question.segment.name}}
          </v-chip>
          <div class="question-card__author">
            Вопрос от <span class="question-card__author-name">{{question.user.nickname}}</span>
          </div>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
import Vue from 'vue';
export default Vue.extend({
  name: 'Home',
  components: {},
  data() {
    return {
      questions: [],
      categories: [],
      categoryId: null,
      search: '',
      askDialog: false,
      asking: false,
      askData: {
        title: '',
        text: '',
        segmentId: null,
      }
    }
  },
  watch: {
    askDialog() {
      this.askData = {
        title: '',
        text: '',
        segmentId: null,
      }
    }
  },
  async mounted() {
    const questions = await this.$store.dispatch('getQuestions', {})
    console.log(questions)
    if (questions) this.questions = questions.questions
    const segments = await this.$store.dispatch('getCategories')
    console.log(segments)
    if (segments) this.categories = segments.segments
  },
  methods: {
    async applyFilters() {
      const segmentId = this.categoryId || undefined;
      const search = this.search || undefined;
      const questions = await this.$store.dispatch('getQuestions', {segmentId, search})
      if (questions) this.questions = questions.questions
    },
    async ask() {
      this.asking = true
      await this.$store.dispatch('createQuestion', this.askData)
      this.askDialog = false
      this.asking = false
    },
  },

})
</script>

<style scoped lang="scss">
  .home {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .filters {
    display: inline-flex;
    align-items: center;
    width: 100%;
    &__filter {
      flex: 1;
    }
  }
  .question-card {
    margin-bottom: 12px;
    &__content {
      display: flex;
      align-items: center;
      padding: 12px;
    }
    &__mark {
      display: inline-flex;
      justify-content: center;
      margin-right: 20px;
      margin-left: 10px;
      color: #12a712;
      font-weight: bold;
      font-size: 20px !important;
    }
    &__texts {
      max-width: 50%;
      margin-left: 20px;
    }
    &__title {
      text-decoration: none;
    }
    &__text {
      opacity: 0.65;
      font-size: 14px;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__info {
      min-width: 20%;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &__author {
      margin-top: 4px;
      font-size: 14px;
      &-name {
        font-weight: bold;
      }
    }
  }
</style>
