<template>
    <v-card flat class="question" v-if="question">
        <div class="question__title-block mb-2">
            <v-chip
                :color="question.mark ? 'success' : 'grey'"
                class="question__mark"
            >
                <v-btn
                    :disabled="liked.includes(this.$route.params.id)"
                    color="white"
                    class="question__like-button"
                    elevation="0"
                    icon
                    small
                    @click="setLike"
                >
                    <v-icon>mdi-heart</v-icon>
                </v-btn>
                {{question.mark}}
            </v-chip>
            <div class="text-h4">
                {{question.title}}
            </div>
        </div>
        <div class="question__header">
            <span class="text-subtitle-2 mr-3">
                Дата: {{question.date}}
            </span>
            <span class="text-subtitle-2 mr-3">
                Пользователь: {{question.user.nickname}}
            </span>
            <span  class="text-subtitle-2 mr-1">
                Категория:
            </span>
            <v-chip small color="primary">
                {{question.segment.name}}
            </v-chip>
        </div>
        <v-card-text>
            {{question.text}}
        </v-card-text>
        <v-divider class="mb-4"></v-divider>
        <v-card
            v-if="$store.state.user.authorized"
            class="mb-4"
            flat
        >
                <div class="response">
                    <v-textarea
                        v-model="userCommentText"
                        class="response__input"
                        hide-details
                        rows="2"
                        outlined
                        label="Текст вашего ответа"
                    />
                    <v-btn
                        class="response__button"
                        color="success"
                        elevation="0"
                        :disabled="!userCommentText"
                        @click="sendComment"
                    >
                        Ответить
                    </v-btn>
                </div>
        </v-card>
        <v-card
            class="comment mt-3"
            v-for="comment of comments"
            :key="comment.id"
        >
            <v-card-title>
                Ответ от {{comment.user.nickname}}
            </v-card-title>
            <v-card-subtitle>
                {{comment.date}}
            </v-card-subtitle>
            <v-divider></v-divider>
            <v-card-text>
                {{comment.text}}
            </v-card-text>
        </v-card>
    </v-card>
</template>

<script>
import Vue from 'vue';
export default Vue.extend({
    name: "Question",
    data() {
        return {
            question: null,
            comments: [],
            userCommentText: '',
            liked: [],
        }
    },
    async mounted() {
        const question = await this.$store.dispatch('getQuestionById', {id: this.$route.params.id})
        const comments = await this.$store.dispatch('getComments', {id: this.$route.params.id})
        if (question && comments) {
            this.question = question
            this.comments = comments.comments
        } else {
            this.$router.push('/')
        }
        this.liked = localStorage.getItem(`liked`)?.split('#') || []
    },
    methods: {
        async sendComment() {
            const {error} = await this.$store.dispatch('postComment', {
               questionId: parseInt(this.$route.params.id),
               text: this.userCommentText,
            })
            if (!error) {
                const comments = await this.$store.dispatch('getComments', {id: this.$route.params.id})
                if (comments) this.comments = comments.comments
                this.userCommentText = ''
            }
        },
        async setLike() {
            const data = await this.$store.dispatch('likeQuestion', {
                id: parseInt(this.$route.params.id)
            })
            console.log(data)
            this.question.mark++
            if (data) {
                this.liked.push(this.$route.params.id)
                localStorage.setItem('liked', this.liked.join('#'))
            }
        }
    },
})
</script>

<style scoped lang="scss">
    .question {
        &__title-block {
            display: flex;
            align-items: center;
        }
        &__mark {
            font-size: 20px;
            margin-right: 16px;
            font-weight: bold;
        }
        &__like-button {
            margin-right: 8px;
            i {
                font-size: 20px !important;
            }
        }
        &__header {
            display: flex;
            align-items: center;
            span {
                opacity: 0.7;
            }
            .v-chip {
                opacity: 1 !important;
            }
        }
    }
    .response {
        display: flex;
        align-items: stretch;
        &__input {
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
        &__button {
            height: auto !important;
            border-bottom-left-radius: 0 !important;
            border-top-left-radius: 0 !important;
        }
    }
</style>