<template>
    <div class="questions">
        <div class="questions__header">
            <div class="text-h4 mb-4">
                Список вопросов
            </div>
        </div>
        <v-expansion-panels>
            <v-expansion-panel
                class="question-card"
                v-for="question of questions"
                :key="question.id"
            >
                <v-expansion-panel-header>
                    <div class="question-card__title">
                        <v-icon
                            class="mr-2"
                            :color="question.isPublished ? 'success' : 'primary'"
                        >
                            {{question.isPublished ? 'mdi-alarm-check' : 'mdi-alarm'}}
                        </v-icon>
                        {{question.title}}
                    </div>
                    <v-spacer/>
                    Дата создания: {{question.date}}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <div class="question-card__content">
                        <p>
                            <b>Автор:</b> {{question.user.nickname}} <br>
                            <b>Вопрос:</b> {{question.text}}
                        </p>
                    </div>
                    <div class="question-card__actions">
                        <v-spacer/>
                        <template v-if="!question.isPublished">
                            <v-btn color="success" class="u-btn" @click="acceptQuestion(question.id)">
                                Одобрить
                            </v-btn>
                            <v-btn color="error" class="u-btn" @click="deleteQuestion(question.id)">
                                Отклонить
                            </v-btn>
                        </template>
                        <template v-else>
                            <v-btn color="error" class="u-btn" @click="deleteQuestion(question.id)">
                                Удалить
                            </v-btn>
                        </template>
                    </div>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </div>
</template>

<script>
import Vue from 'vue';
export default Vue.extend({
    name: "Questions",
    data() {
        return {
            questions: []
        }
    },
    async mounted() {
        if (!['admin', 'manager'].includes(this.$store.state.user.permission)) {
            await this.$router.push('/')
        }
        await this.getQuestions()
    },
    methods: {
        async getQuestions() {
            const data = await this.$store.dispatch('getQuestions', {
                isPublished: false,
            })
            if (data) {
                this.questions = data.questions
            }
        },
        async acceptQuestion(id) {
            const data = await this.$store.dispatch('acceptQuestion', {id})
            if (!data.error) await this.getQuestions()
        },
        async deleteQuestion(id) {
            const data = await this.$store.dispatch('deleteQuestion', {id})
            if (!data.error) {
                this.questions = this.questions.filter(question => question.id !== id)
            }
        }
    }
})
</script>

<style scoped lang="scss">
    .question-card {
        margin: 16px 0;
        &__title {
            display: flex;
            align-items: center;
        }
        &__actions {
            display: flex;
        }
    }
</style>