<template>
    <v-app-bar
            clipped-left
            app
            dark
            color="primary"
    >
        <v-app-bar-nav-icon @click.stop="$store.commit('toggleNav')" class="mr-4"/>
        <div class="text-h5">
            UdachinOverflow
        </div>
        <v-spacer/>
        <template v-if="!$store.state.user.authorized">
            <v-menu
                    :close-on-content-click="false"
                    offset-y
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                            class="u-btn"
                            light
                            elevation="0"
                            v-on="on"
                    >
                        Авторизация
                    </v-btn>
                </template>
                <v-card>
                    <v-card-text>
                        <v-form>
                            <v-text-field
                                    v-model="authData.nickname"
                                    outlined
                                    label="Логин"
                            />
                            <v-text-field
                                    v-model="authData.password"
                                    outlined
                                    label="Пароль"
                                    type="password"
                            />
                            <v-btn
                                    block
                                    color="success"
                                    :disabled="!authData.password || !authData.nickname"
                                    @click="auth"
                            >
                                Вход
                            </v-btn>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-menu>
            <v-menu
                    :close-on-content-click="false"
                    offset-y
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                            class="u-btn"
                            light
                            elevation="0"
                            v-on="on"
                    >
                        Регистрация
                    </v-btn>
                </template>
                <v-card>
                    <v-card-text>
                        <v-form>
                            <v-text-field
                                    v-model="registerData.nickname"
                                    outlined
                                    label="Придумайте логин"
                            />
                            <v-text-field
                                    v-model="registerData.password"
                                    outlined
                                    label="Придумайте пароль"
                                    type="password"
                            />
                            <v-btn
                                    block
                                    color="success"
                                    @click="register"
                                    :disabled="!registerData.password || !registerData.nickname"
                            >
                                Зарегистрироваться
                            </v-btn>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-menu>
        </template>
        <template v-else>
            Вы вошли, как {{$store.state.user.nickname}}
            <v-btn
                class="u-btn"
                light
                elevation="0"
                @click="exit"
            >
                Выход
            </v-btn>
        </template>
    </v-app-bar>
</template>

<script>
import Vue from 'vue';
export default Vue.extend({
    name: "Header",
    data() {
        return {
            authData: {
                nickname: null,
                password: null,
            },
            registerData: {
                nickname: null,
                password: null,
            }
        }
    },
    methods: {
        async register(){
            const data = await this.$store.dispatch('registerUser', {...this.registerData})
            if (data) {
                alert('Вы успешно зарегистрировались')
            } else {
                console.error('Возникла ошибка при регистрации пользователя')
            }
            this.registerData = {
                nickname: null,
                password: null,
            }
        },
        async auth(){
            const data = await this.$store.dispatch('authUser', {...this.authData})
            if (data) {
                localStorage.setItem('userId', data.id)
                localStorage.setItem('username', data.nickname)
                localStorage.setItem('password', this.authData.password)
                localStorage.setItem('authorized', true)
            }
            this.$store.commit('setUser', {...data})
            this.authData = {
                nickname: null,
                password: null,
            }
        },
        exit(){
            localStorage.removeItem('userId')
            localStorage.removeItem('username')
            localStorage.removeItem('password')
            localStorage.removeItem('authorized')
            this.$store.commit('resetUser')
            this.$router.push('/')
        }
    }
})
</script>

<style scoped>

</style>