<template>
  <v-app>
    <v-navigation-drawer app clipped v-model="$store.state.showNav">
      <v-list
              dense
              nav
      >
        <v-list-item
                v-for="item in navItems"
                :to="item.to"
                :key="item.title"
                link
                v-if="item.show ? item.show() : true"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <Header/>
    <v-main>
      <v-container fluid>
        <router-view/>
      </v-container>
    </v-main>
    <v-footer app dark color="primary">
      <v-spacer/>
      Copyright © UdachinOverflow, 2020. Все права защищены.
    </v-footer>
  </v-app>
</template>

<script>
import Vue from 'vue';
import Header from "./components/Header";

export default Vue.extend({
  name: 'App',
  components: {Header},
  data() {
    return {
      authorized: false,
      navItems: [
        { title: 'Главная', icon: 'mdi-home', to: '/' },
        { title: 'Панель пользователей', icon: 'mdi-account-box', to: '/users/',
          show: () => this.$store.state.user.permission === 'admin'
        },
        { title: 'Панель категорий', icon: 'mdi-format-list-checkbox', to: '/categories/',
          show: () => ['admin', 'manager'].includes(this.$store.state.user.permission)
        },
        { title: 'Панель вопросов', icon: 'mdi-help-box', to: '/questions/',
          show: () => ['admin', 'manager'].includes(this.$store.state.user.permission)
        },
      ],
    }
  },
  async created(){
    if (localStorage.getItem('authorized')) {
      const nickname = localStorage.getItem('username')
      const password = localStorage.getItem('password')
      const data = await this.$store.dispatch('authUser', {nickname, password})
      if (data) this.$store.commit('setUser', {...data})
    }
  },
})
</script>

<style lang="scss">
  .u-btn {
    margin: 6px !important;
  }
</style>
